In [1]:
from quantdev.data import Databank
# from quantdev.trade import PortfolioManager, Position, Portfolio
import quantdev.backtest as bts
import pandas as pd

In [2]:
test = bts.get_data('roa') #.dropna(how='all')
test

AttributeError: 'Databank' object has no attribute 'get_data_columns'

In [13]:
test = bts._get_portfolio(test>0.95, rebalance='QR')

In [15]:
test

Empty DataFrame
Columns: [1101, 1102, 1103, 1104, 1107, 1108, 1109, 1110, 1201, 1203, 1204, 1207, 1210, 1212, 1213, 1215, 1216, 1217, 1218, 1219, 1220, 1224, 1225, 1227, 1229, 1231, 1232, 1233, 1234, 1235, 1236, 1240, 1256, 1258, 1259, 1262, 1264, 1268, 1301, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1319, 1321, 1323, 1324, 1325, 1326, 1333, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1402, 1408, 1409, 1410, 1413, 1414, 1416, 1417, 1418, 1419, 1423, 1432, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1449, 1450, 1451, 1452, 1453, 1454, 1455, ...]
Index: []

[0 rows x 2119 columns]

In [12]:
bts.t_date\
    .merge(test, on='t_date', how='left')\
    # .set_index('t_date')\
    # .shift(0)\
    # .dropna(how='all')

,t_date,1101,1102,1103,1104,1107,1108,1109,1110,1201,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
0,2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5175,2025-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5176,2025-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5177,2025-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5178,2025-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5179,2025-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
test\
    .sort_values(by='t_date')\
    .drop_duplicates(subset=['t_date', 'stock_id'], keep='last')\
    .set_index(['t_date', 'stock_id'])\
    .unstack()\
    .droplevel(0, axis=1)

stock_id,1101,1102,1103,1104,1107,1108,1109,1110,1201,1203,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
t_date,,,,,,,,,,,,,,,,,,,,,
2005-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data = pd.merge_asof(
    bts.t_date[bts.t_date['date']<=pd.Timestamp.today() + pd.DateOffset(days=5)], 
    test\
    .sort_values(by='t_date')\
    .drop_duplicates(subset=['t_date', 'stock_id'], keep='last')\
    .set_index(['t_date', 'stock_id'])\
    .unstack('stock_id')\
    .droplevel(0, axis=1), 
    on='t_date', 
    direction='backward'
    )
    # .ffill(limit=240)\
    # .set_index(['t_date'])\
    # .dropna(axis=1, how='all')

KeyError: 'Requested level (t_date) does not match index name (None)'